@import "tailwindcss";

.hide-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .layout {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  .layout main {
    flex-grow: 1;
  }


.scrollbar-thin::-webkit-scrollbar {
  height: 6px;
background-color: #cbd5e1; 
margin-right: 3rem;
}

.scrollbar-thin::-webkit-scrollbar-thumb {
  background-color: gray; 
  border-radius: 9999px;
}
